.top-container {
    background-size: 180% 180%;
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    height: 100%;
    width: 100%;
}
img{
    border-radius: 50%;
}
.text-body-emphasis{
    color: aqua;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.left-cloud{
     position: absolute;
    left: 300px;
    top: 40px;

}
img{
    height: 100px;
    border-radius: 50%;
}
.bottom-container{
background-color: #e4f9f5;
margin: 0px;
padding: 0%;
}